<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.userMapper">
    <resultMap id="userRes" type="com.demo.po.User">

        <id property="id" column="userId"></id>
        <result property="username" column="userName"></result>
        <result property="password" column="password"></result>
        <result property="department" column="department"></result>
        <result property="email" column="email"></result>
        <result property="departmentId" column="departmentId"></result>
        <result property="position" column="position"></result>
        <result property="authority" column="authority"></result>
    </resultMap>

    <select id="getUser" resultMap="userRes" resultType="string">
        SELECT  * from user where username = #{username}
    </select>

    <select id="getAllUser" resultType="java.util.Map">
       SELECT  * from user

    </select>

    <select id="pagedQueryUser" parameterType="map" resultType="com.demo.po.User">

      SELECT * FROM user LIMIT #{start},#{size}
    </select>


    <delete id="deleteUserById">

        delete from user where id = #{id}
    </delete>

    <update id="updataUserById" parameterType="string">
        UPDATE user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="department != null">
                department = #{department},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="departmentId != null">
                departmentId = #{departmentId},
            </if>

            <if test="position != null">
                position = #{position},
            </if>

            <if test="authority != null">
                authority = #{authority}
            </if>
        </set>

        WHERE id = #{id}
    </update>


</mapper>